<style>
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
</style>
@media max-width: 800px
{
    nav
    {
        display: none;
    }
    .cards
    {
        grid-template-columns: 80%;
    }
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    padding-left: 5vw;
    padding-right: 5vw;
}

header {
    background-color: #013672;
    display: flex;
}

header img,
footer img {
    width: 200px;
}

nav
{
    justify-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-left: auto;
    margin-right: 2%;
}
a
{
    color: white;
    text-decoration: none;
    margin: 2%;
    font-size: 20pt;
}

h1, h2, h3
{
    font-family: passion-one;
}

h1, h2
{
    margin-top: 2%;
}

.cards
{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card
{
    border: 1px solid grey;
    margin: 2%;
    padding: 2%;
}

main h1
{
    text-align: center;
}